.pixel-slider {
  --pixel-slider-track: rgb(var(--secondary) / var(--secondary-alpha));
  --pixel-slider-thumb: rgb(var(--primary));
  background-color: var(--pixel-slider-track);
}

.pixel-slider::-webkit-slider-runnable-track {
  height: 0.375rem;
  border-radius: 9999px;
  background-color: var(--pixel-slider-track);
}

.pixel-slider::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.3125rem;
  border: 0;
  border-radius: 9999px;
  background-color: var(--pixel-slider-thumb);
}

.pixel-slider::-moz-range-track {
  height: 0.375rem;
  border-radius: 9999px;
  background-color: var(--pixel-slider-track);
}

.pixel-slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border: 0;
  border-radius: 9999px;
  background-color: var(--pixel-slider-thumb);
}
